* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  min-width: 450px;
  min-height: 650px;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
}

.header {
  text-align: center;
  margin: 20px 0;
}

.body {
  margin: 0 auto;
  width: 80%;
}

.input {
  margin: 20px 0;
}

/* 
.todo-item button:last-child {
  margin-left: auto;
} */

.todo-item__task {
  width: 100%;
}

.todo-item_settings {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.complete {
  text-decoration-line: line-through;
  opacity: 0.6;
}
